{% extends 'blog/base.html' %}
{% block content %}
  <article class="media content-section">
    <div class="media-body">
      <h2><a class="article-title" href="#">About Almond and Chai Blog</a></h2>
      <br>
      <p class="article-content">This blog is created by Penny Fang by using Django. In this site, a user can register and publish posts, as well as comment on other's posts. This blog site will continue to be revised and updated.</p>
      <p>More about the site creator, Penny Fang, please visit her <a href="https://pennyfang.pythonanywhere.com">website</a> or contact her through email <a href="mailto:fangle0121@gmail.com">fangle0121@gmail.com</a>.</p>
    </div>
  </article>
{% endblock content%}
